@import "tailwindcss";

/* Use the @plugin directive to load the typography plugin.
  @tailwindcss/postcss automatically detects the content. 
*/
@plugin "@tailwindcss/typography";

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

a {
  @apply text-blue-500 underline-offset-2 transition hover:underline;

  
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  @apply text-blue-500 font-medium underline-offset-4 hover:underline;
}

@layer components {
  .rounded-full.px-3.py-1 > a {
    @apply !text-black no-underline hover:no-underline;
  }
}


.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
